@import "../_globalColor";

.dark-mode {
  background-color: #1a1a1a; // Adjust this for the overall background
  color: #ffffff;

  // Look for nested components or variables here
  .project-card {
    background-color: #262626; // Adjust this for the card color in your screenshot
  }
}